body {
  background-image:url("/images/husk.png");
  margin: 50px auto auto;
  background-color: #F5F0EB;
}

p{
  margin-top: 40px;
}

#container{
  width: 960px;
  margin: auto;
}

#masterHead{
  width: 960px;
  height: 284px;
  display: inline-block;
}

#content {
  width: 595px;
  /*box-shadow: 0 0 3px #999;*/
  display: inline-block;
  margin-left: 2px;
}

article {
  width: 597px;
  color: #fffdd8;
  font-family: "camingodos-web", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 1.8em;
}

article div.titleUnderline{
  height: 1px;
  width: 597px;
  background-color: #609bb0;
  margin: 20px 0px 0px 0px;
  box-shadow: 1px 1px 1px #000;
}

article h1{
  margin-bottom: 20px;
  color: white;
  font-weight: 400;
  font-size: 22px;
  text-shadow: 1px 1px 1px #000; 
}