<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Diego Marcos">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
  </head>

  <body>
    <div id="container">
      <header>
          <hgroup id="blogTitle">
            <a class="logo" href="/"></a>
            <ul id="menu">
              <li id="tableOfContents"><a href="/tableOfContents.html">Table of Contents</a></li>
              <li><a href="/search.html">Search</a></li>
              <li><a href="http://twitter.com/dmarcos">About</a></li>
              <!-- <li id="search">
                <form id="searchForm" role="search" method="get" action="/search.html">
                  <div>
                    <i id="searchIcon" class="icon-search"></i>
                    <form action="/search" method="get">
                      <input type="text" id="search-query" name="q" placeholder="Search" autocomplete="off">
                    </form>
                  </div>
                </form>
              </li> -->
            </ul>
            <div class="clear"></div>
          </hgroup>
      </header>
      <section id="main">
        {{ content }}
      </section>
    </div>
    <!-- ONLINE -->
    <script type="text/javascript" src="http://use.typekit.com/tcv2air.js"></script>
    <!-- LOCAL -->
    <!-- <script type="text/javascript" src="http://use.typekit.com/wqc3mrt.js"></script> -->
    <script type="text/javascript">
      try { Typekit.load(); } catch (e) {}
    </script>
  </body>
</html>