<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Diego Marcos">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  
  <body>
    <div id="container">
      <div id="masterHead">
        <img src="/images/masterHead2.png" width="960" height="284" alt="">
      </div>
      <div id="content">
        {{ content }}
      </div>
    </div>
    <!-- ONLINE -->
    <script type="text/javascript" src="http://use.typekit.com/tcv2air.js"></script>
    <!-- LOCAL -->
    <!-- <script type="text/javascript" src="http://use.typekit.com/wqc3mrt.js"></script> -->
    <script type="text/javascript"> try { Typekit.load(); } catch (e) {} </script>
  </body>

</html>

